@font-face {
  font-family: "Baumans"; /* Ganti dengan nama font yang sesuai */
  src: url("Baumans-Regular.ttf") format("truetype"); /* Ganti dengan nama file font yang sesuai */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Baumans", sans-serif; /* Ganti dengan nama font yang sesuai */
}


/* NAVBAR DESKTOP */
header {
  display: flex;
  flex-direction: column; /* Mengubah arah flex menjadi kolom */
  align-items: center; /* Menyelaraskan item di tengah */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 120px;
  background-color: rgb(16, 65, 62);
}

header .container {
  display: flex;
  justify-content: space-between; /* Menyebar konten di dalam container */
  align-items: center; /* Menyelaraskan item di tengah secara vertikal */
  width: 100%; /* Memastikan container mengambil lebar penuh */
  padding: 0 20px; /* Menambahkan padding untuk konten di dalam header */
}

.logo {
  margin-top: 10px;
  display: flex;
  align-items: center; /* Menyelaraskan logo dan judul secara vertikal */
}

header h1 {
  font-family: "Baumans", sans-serif;
  font-size: 38px; /* Ukuran font untuk judul */
  color: rgb(94, 234, 212);
  margin-left: 10px; /* Memberikan jarak antara logo dan judul */
}

.search-container {
  display: flex;
  align-items: center; /* Menyelaraskan kolom pencarian dan tombol logout secara vertikal */
}

.search-container form {
  display: flex; /* Mengatur form untuk menggunakan flexbox */
}

.logout-button {
  margin-left: 20px; /* Memberikan jarak antara kolom pencarian dan tombol logout */
}

.nav-tabs {
  margin-top: 1px; /* Mengurangi jarak antara header dan tab */
  display: flex;
  justify-content: flex-end; /* Menyelaraskan navbar ke kanan */
  width: 100%; /* Memastikan navbar mengambil lebar penuh */
}

.nav-tabs .nav-item {
  margin-left: 5px; /* Memberikan jarak antar item navbar */
}

.nav-tabs .nav-link {
  color: rgb(16, 65, 62); /* Warna teks untuk tab */
}

.nav-tabs .nav-link.active {
  background-color: rgb(94, 234, 212); /* Ensure this is set */
  color: rgb(16, 65, 62);
}

.nav-tabs .nav-link:hover {
  background-color: rgba(94, 234, 212, 0.5); /* Warna latar belakang saat hover */
}

.hamburger-menu {
  display: none;
}

a{
  text-decoration: none;
  
}
/* NAVBAR DESKTOP */

.footer-shadow {
  position: relative;
  z-index: 1;
}

footer{
  background-color: rgb(16, 65, 62);
  color: rgb(94, 234, 212);
}
.footer-shadow::before {
  content: "";
  position: absolute;
  top: -10px; /* Adjust this value to control the shadow position */
  left: 0;
  right: 0;
  height: 10px; /* Adjust this value to control the shadow height */
  background: rgba(0, 0, 0, 0.1); /* Shadow color */
  border-radius: 5px; /* Optional: to make the shadow edges rounded */
  z-index: -1; /* Place the shadow behind the footer */
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(15, 23, 42);
  color: white;
}

.nav-link {
  color: #22252e;
}

.nav-link:hover {
  color: #6c727c;
}

.product-section .product-item {
  margin-bottom: 20px;
}

a.button-more-products {
  padding: 10px 30px;
  border: 1px solid green;
  border-radius: 10px;
  color: green;
}

a.button-more-products:hover {
  padding: 10px 30px;
  border: 1px solid #ffff;
  border-radius: 10px;
  color: #fff;
  background-color: green;
}

a.category-link {
  text-decoration: none;
  color: #6c727c;
  border: 2px solid #6c727c;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 5px;
}

a.category-link:hover {
  text-decoration: none;
  color: #fff;
  border: 2px solid #ffff;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #6c727c;
  margin-right: 5px;
  transition: 0.3s;
}

footer li {
  list-style-type: none;
  color: #6c727c;
}

/* Single Product */
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  outline: inherit;
  margin: 0 10px;
}

.button-border {
  border: 1px solid green;
  border-radius: 20px;
  margin: 0 10px;
}

.input-quantity {
  border: none;
}

/* Address Tab */

.address-active {
  background-color: #c9fde0;
}

/* Login */
.form-control:focus {
  border-color: #0ab30a;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(0, 255, 102, 0.6);
}

.notification-item-new:hover {
  background-color: #f3f4f5;
  cursor: pointer;
}

.notification-item-new {
  background-color: #ebffef;
}

/* CERTIFICATE DESKTOP */
.certification {
  padding: 80px 0 40px;

}

.certification h1 {
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: rgb(16, 17, 17);
  margin-bottom: 40px;
}

.certification h1 span {
  color: rgb(0, 0, 0);
}

.container-certificate {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px 60px;
}

.field-certificate {
  width: 27%;
  height: 250px;
  position: relative;
}

.field-certificate img:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 250px;
}

.field-certificate .icon-eye {
  width: 100%;
  height: 250px;
  position: absolute;
  background-color: #666;
  text-align: center;
  line-height: 250px;
  opacity: 0;
  transition: opacity .3s;
}

.field-certificate:hover {
  cursor: pointer;
}

.field-certificate:hover i {
  opacity: 0.9;
}

.overlay-image-certificate {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transition: .3s;
  transform: scale(0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.field-overlay-certificate {
  position: relative;
  width: 50%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.field-overlay-certificate img {
  width: 90%;
  height: 400px;
}

.overlay-image-certificate button {
  position: absolute;
  bottom: 40px;
  width: 16%;
  height: 40px;
  background-color: darkred;
  border: none;
  border-radius: 12px;
}

.overlay-image-certificate button:hover {
  cursor: pointer;
}

